h1{
    color:#E35536;
}
h2{
    color:#A35536;
}
h3{
    color:#E355D6;
}
h4{
    color:#dee414;
}
h5{
    color:#70da2f;
}
h6{
    color:#3c36e3;
}

.header{
    margin-top: 1px;     /*Margen de arriba */
    margin-left: 100px;  /*Margen de la izquierda */
    margin-right: 20px;  /*Margen de la derecha */
    font-size: 20px;     /*Tamaño de fuente */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Tipo de fuente */
}

.header > * {             /*El asterisco llama a todos los elementos de la clase*/
    display: inline-block; /*Hace que todo se vea de manera horizontal*/
    font-size: 16px; /*Tamaño de la fuente con la direfencia de que esto lo aplica en general*/
    height: 100%; /*Es la altura que va a tener el header*/
    vertical-align: middle; /*Es para alinearlo a la mitad*/
    line-height: 45px; /*Es como un margen que sube el head*/
}

li{ /*Llama a la etiqueta de la lista*/
    display: inline; /*Muestra un elemento al lado del otro*/
}

.logo{
    height: 100%;
    
}

.navbar{
    text-align: left;
    color:#2b1aee;
}

.actions{
    text-align: left;
    font-size: 14px;
}

.actions > * {
    margin-left: 15px;
    margin-right: 15px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
button {
    color: #fff
    background-color #60215b;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
.video{
    display: flex; /*Es para que el texto se muestre en forma de línea*/
    width: 75%; /*aplica a toda la clase*/
    margin-left: 50px; /*Es el margen de la izquierda*/
    align-items: center; /*Alinea al centro, verticalmente*/
    margin-bottom: 50px; /*Es el margen de abajo*/
}
/* ---------------------------------------------------------------------------------------------------- */
.features{
    background-color: #3c36e3;
    display: grid; /*sirve para darle un estilo y no se vea uno debajo del otro*/
    padding: 5% 10%; /*Es la separación del contenedor y las cartitas*/
    grid-template-columns: repeat(2, 600px); /* se agregan 2 columnas*/
    grid-template-rows: repeat(2, 350px);
}



 /* article{
    background-color: rgb(31, 181, 131);
    margin: 10px;
    width: 50%;
    height: 50px;
}  */

.features .features-card{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px; /*las 3 líneas anteriores son el espacio entre las cartitas*/
    background-color: #fff;
    border: 2px solid #D91512; /*Es el borde de las cartitas*/
    display: flex; /*Sirve para que todos los elementos se vean dentro de la cartita*/
    align-items: center; 
    overflow:hidden; /*El overflow sirve para que los elementos no se salgan de las cartitas aunque más bien es mandarlos atras*/
}


.features .features-card .feature-content{
    padding: 30px 20px 40px 40px; /*Es el espacio que tenemos entre el elemento seleccionado y los demas*/
    flex: 2; /*Sirve para que la imagen no se encime con el texto*/
}

.features .features-card .feature-content > *{
    margin-bottom: 1rem; /*Sirve para hacer espacio abajo*/
}

.features .features-card .feature-content img{ /*Este es el tamaño del icono*/
    width: 40px;
}

.features .features-card .feature-content h3{
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

.features .features-card .feature-content p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.features .features-card .feature-content a{ /*las últimas tres características sirven para ponerle estilos a las fuentes*/
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #60215b;
}

.features .features-card .feature-image{ /*Características de la imagen*/
    flex: 2; /*Es la posicion de la imagen*/
    width: 45%; /*Es el tamaño que abarcará en el contenedor, es como lo ancho*/
    position: relative;
    right: 59px; /*Margen que tiene a la derecha*/
    height: 40%;/*Es como la altura*/
}

.features .features-card .feature-image figure,
.features .features-card .feature-image img {
    margin-top: 0;
    height: 100%;
} 

/* --------------------------------------------------------------------------------------------------------------------------------- */

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
.navbar, action{
    display: none;
}

.publish > form {
    flex-direction: column;
    display: flex; /*Es para que se ajusten*/
}
    
.publish > form >div {
    height: 50px;
    margin-top: 10px;
}

main{
    margin-top:130px;
}

.features{
    grid-template: repeat(4,1fr) / 1fr;
}


}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.seccion{
    background-color: #21a88f;
    display: grid; /*sirve para darle un estilo y no se vea uno debajo del otro*/
    padding: 5% 10%; /*Es la separación del contenedor y las cartitas*/
    grid-template-columns: repeat(2, 600px); /* se agregan 2 columnas*/
}

.seccion .parte-izquierda .texto-izquierda h1{
    font-size: 40px;
    color: #0f763a;
}

.seccion .parte-izquierda .texto-izquierda p{
    font-size: 20px;
}

.seccion .parte-izquierda .texto-izquierda button{
    font-size: 20px;
    color: white;
    background-color: #0f763a;
    text-align: center;
    height: 30px;
    width: 100px;
    border: #0f763a;
    border-radius: 20px;
}

.seccion .parte-derecha {
    background-color: white;
    width: 236px;
    border-radius: 10px;
    text-align: center;
}

.seccion .parte-derecha .imagen {
    overflow: hidden;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

.examen{ /*Seccion completa*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
.examen .titulo{ /*Primer cuadro de titulo*/
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(66, 31, 207);
    display: flex;
    overflow:hidden;
    width: 1200px;
    text-align: center;
    justify-content: center;
}

.examen .titulo .textotitulo h2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.examen .titulo .textotitulo p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.examen .cuadros{
    background-color: #36c0e3;
    display: grid;
    flex-wrap: wrap;
    padding: 5% 5%;
    grid-template-columns: repeat(5, 250px); /* se agregan 2 columnas*/
    grid-template-rows: repeat(2, 200px);
}


.examen .cuadros{
    display: flex;
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

